:root {
  --brand-color: #3f51b5;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}

.studio {
  color: #2e2f42;
}

.list {
  list-style: none;
}

.list-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-list:hover {
  color: #404bbf;
}
.list-list:focus {
  color: #404bbf;
}

.add {
  font-style: normal;
}

.add-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.add-list:hover {
  color: #404bbf;
}

.add-list:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
  list-style: none;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero {
  background-color: #2e2f42;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.click {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.click:hover {
  background-color: #404bbf;
}

.click:focus {
  background-color: #404bbf;
}

button {
  cursor: pointer;
}

.second-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.second-por {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.third-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.par-features {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-four {
  background-color: #f4f4fd;
}

.list-four {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.foot {
  background-color: #2e2f42;
}

.foot-studio {
  color: #f4f4fd;
}

.foot-par {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.click-port {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}

.click-port:hover {
  color: #ffffff;
  background-color: #404bbf;
}

.click-port:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
