:root {
  --brand-color: #3f51b5;
}

.container {
  width: 1158px;
}

.header {
  display: flex;
  width: 1440px;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #e7e9fc;
  background: var#fff;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
}

.link {
  text-decoration: none;
}

.studio {
  color: #2e2f42;
}

.list {
  list-style: none;
}

.add {
  font-style: normal;
}

.ul-add {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  list-style-type: none;
}

.add-list {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.add-list:hover {
  color: #404bbf;
}

.add-list:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  flex-shrink: 0;
}

.click-hero {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.click:hover {
  background-color: #404bbf;
}

.click:focus {
  background-color: #404bbf;
}

button {
  cursor: pointer;
}

.second-por {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.par-features {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.section-four {
  background-color: #f4f4fd;
  flex-shrink: 0;
}

.list-four {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.foot {
  background-color: #2e2f42;
  flex-shrink: 0;
}

.foot-studio {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  width: 71px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
}

.logo-foot {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
}

.foot-par {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}

.click-port {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--CLOUD, #f4f4fd);
}

.click-port:hover {
  color: #ffffff;
  background-color: #404bbf;
}

.click-port:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.port-par {
  color: var(--SLATE, #434455);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.list-images {
  border-bottom: 1px solid #e7e9fc;
}

.section {
  flex-shrink: 0;
}

.title-hero {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
}

.span-order {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.list-features {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.title-do {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.list-do-do {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.features-titles {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.img-do {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}

.title-team {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.img-team {
  background: lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

.card-team {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.team-names {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.team-jobs {
  color: #434455;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.foot-web {
  display: flex;
  width: 44px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.contact-mail-tel {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5px;
  letter-spacing: 0.32px;
}

.ul-header {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.list-buttons {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}

.button-all {
  display: flex;
  padding: 12px 24px;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--OCEAN, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.text-button-all {
  color: var(--WHITE, #fff);
  text-align: center;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}

.button-text {
  color: var(--IRIS, #4d5ae5);
  text-align: center;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.ul-port {
  width: 1128px;
  flex-shrink: 0;
}

.list-images {
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.img-port {
  width: 360px;
  flex-shrink: 0;
  background: lightgray 50% / cover no-repeat;
}

.card-port {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.link-par-foot {
  padding: 100px 1020px 100px 156px;
}
